.dashboard__p {
  font-size: 1.2rem;
  font-family: inherit;
  padding: 0.2rem 0;
}
.dashboard__p__second {
  font-size: 0.8rem;
  font-family: inherit;
  opacity: 0.7;
  padding: 0.3rem 0;
}

.styles.dashboard__p__first {
  font-size: 0.8rem;
  font-family: inherit;
  font-weight: 800;
  padding: 0.3rem 0;
}
.dashboard__p__sec {
  font-size: 0.8rem;
  font-family: inherit;

  padding: 0.3rem 0;
  margin-top: 2rem;
}
.dashboard__p__third {
  font-size: 0.8rem;
  font-family: inherit;

  padding: 0.3rem 0;
  margin-top: 2rem;
}
.span__product {
  font-size: 1.3rem;
  font-weight: 600;
}
.p__products {
  font-size: 1.2rem;
  font-weight: 700;
}
